:root{
    --fonte-titulos: 'Calistoga', cursive;
    --fonte-textos: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
}

.container-header{
    padding-left: 6%;
    padding-right: 6%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    display: flex;
}

/*********************** MAIN ********************************/
.container-main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background: linear-gradient(180deg, #304968 0%, #1bddb1 52.6%, #4650BD 100%);
}

/****************************************************************
-----------------------------------------------------------------
---------------------RESPONSIVIDADE------------------------------
-----------------------------------------------------------------
****************************************************************/
@media screen and (max-width: 767px){
    header{
        background-color: #4650BD;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .navbar{
        display: none;
    }

    .container-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    /*************************** BANNER ************************/
    .banner{
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .banner__imagem{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner__titulo{
        position: absolute;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .banner__imagem img{
        width: 100%;
        height: 270px; 
        object-fit: cover;
        object-position: 50% 50%; 
        mix-blend-mode: hue;
    }
    
    .banner__titulo p{
        font-family: var(--fonte-titulos);
        color: white;
    }

    /*********************** FORMULARIO TITULO *************************/
    .secao_formulario__titulo{
        display: flex;
        padding: 32px 24px;
        text-align: center;
        
    }
    
    .secao_formulario__titulo p{
        font-family: var(--fonte-titulos);
        color: white;
        font-size: 32px;
        line-height: 42px;
    }

    /********************* FORMULARIO *****************************/
    .formulario label{
        color: white;
        font-family: var(--fonte-textos);
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 8px;
    }
    
    .form_input{
        width: 100%;
        height: 48px;
        margin-bottom: 32px;
        font-size: 20px;
    }

    .formulario{
        padding: 0 24px;
    }

    /********************* BOTAO DO FORMULARIO *****************************/
    .form_btn{
        background-color: #4650BD;
        color: white;
        font-family: var(--fonte-textos);
        font-size: 20px;
        font-weight: 700;
        border-radius: 16px;
        width: 164px;
        height: 56px;
        margin: 10px 74px;
        box-shadow: 4px 4px 0px #000000;
    }  


    /*********************** FOOTER ********************************/
    footer{
        background-color: #4650BD;
        color: white;
        font-family: var(--fonte-textos);
        font-weight: 500;
        line-height: 40px;
        align-items: center;    
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .container-footer{
        margin-left: auto;
        margin-right: auto;
        padding-left: 6%;
        padding-right: 6%;
        max-width: 1440px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .rodape__links{
        display: flex;
        flex-direction: column;
    }

    .rodape__links p{
        font-weight: 500;
        padding-bottom: 7px;
    }

    .rodape__texto_final p{
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px){
    header{
        background-color: #4650BD;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .icone-menu{
        display: none;
    }
    
    .container-header{
        display: block;
        text-align: center;
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
    }
    
    .navbar{
        align-self: center;
        margin-left: auto;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        font-family: var(--fonte-textos);
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
    }
    /************************ BANNER ***************************/
    .banner{
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .banner__imagem{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner__titulo{
        position: absolute;
        color: white;
        font-family: var(--fonte-titulos);
        font-size: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__titulo p{
        font-family: var(--fonte-titulos);
    }

    .banner__imagem img{
        width: 100%;
        height: 384px;
        object-fit: cover;
        object-position: 50% 50%; 
        mix-blend-mode: hue;
    }

    /*********************** FORMULARIO TITULO *************************/
    .secao_formulario__titulo{
        display: flex;
        padding: 32px 50px;
        text-align: center;
        
    }
    
    .secao_formulario__titulo p{
        font-family: var(--fonte-titulos);
        color: white;
        font-size: 48px;
        line-height: 42px;
    }

    /********************* FORMULARIO *****************************/
    .formulario label{
        color: white;
        font-family: var(--fonte-textos);
        font-size: 32px;
        font-weight: 700;
    }
    
    .form_input{
        width: 100%;
        height: 48px;
        margin-bottom: 32px;
        font-size: 20px;
        margin-top: 8px;
    }

    .formulario{
        padding: 0 60px;
    }

    #form_data_nascimento{
        max-width: 70%;
    }

    /********************* BOTAO DO FORMULARIO *****************************/
    .form_btn{
        background-color: #4650BD;
        color: white;
        font-family: var(--fonte-textos);
        font-size: 20px;
        font-weight: 700;
        border-radius: 16px;
        width: 164px;
        height: 56px;
        margin: 10px 242px;
        box-shadow: 4px 4px 0px #000000;
    }    


    /*********************** FOOTER ********************************/
    footer{
        background-color: #4650BD;
        color: white;
        font-family: var(--fonte-textos);
        font-weight: 500;
        line-height: 40px;
        align-items: center;    
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .container-footer{
        margin-left: auto;
        margin-right: auto;
        padding-left: 6%;
        padding-right: 6%;
        max-width: 1440px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .rodape__links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rodape__links p{
        font-weight: 500;
        padding-bottom: 5px;
    }

    .rodape__texto_final{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    .rodape__texto_final p{
        padding-bottom: 0;
    }

}

@media screen and (min-width: 1024px) {
    .container-header{
        display: flex;
    }

    .banner__imagem img{        
        height: 407px;
    }

    /*********************** FORMULARIO TITULO *************************/
    .secao_formulario__titulo{
        display: flex;
        padding: 48px 322px;
        text-align: center;
        
    }
    
    .secao_formulario__titulo p{
        font-family: var(--fonte-titulos);
        color: white;
        font-size: 48px;
        line-height: 42px;
    }

    /********************* FORMULARIO *****************************/
    .formulario label{
        color: white;
        font-family: var(--fonte-textos);
        font-size: 32px;
        font-weight: 700;
    }
    
    .form_input{
        width: 100%;
        height: 48px;
        margin-bottom: 32px;
        font-size: 20px;
        margin-top: 8px;
    }

    .formulario{
        padding: 0 322px;
    }

    #form_data_nascimento{
        max-width: 100%;
    }

    .form_cpf_data_nascimento{
        display: flex;
        gap: 32px;
    }

    .form_cpf, .form_data_nascimento{
        width: 385px;
    }

    /********************* BOTAO DO FORMULARIO *****************************/
    .form_btn{
        background-color: #4650BD;
        color: white;
        font-family: var(--fonte-textos);
        font-size: 20px;
        font-weight: 700;
        border-radius: 16px;
        width: 164px;
        height: 56px;
        margin: 10px 315px;
        box-shadow: 4px 4px 0px #000000;
    }    

    

    /*********************** FOOTER ********************************/
    .container-footer{
        display: flex;
        justify-content: space-between;
    }

    .rodape__texto_final{
        text-align: left;
    }
}