:root{
    --fonte-titulos: 'Calistoga', cursive;
    --fonte-textos: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
}

/*************************************************************
---------------------RESPONSIVIDADE---------------------------
*************************************************************/
@media screen and (max-width: 767px){
    header{
        background-color: #4650BD;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .navbar{
        display: none;
    }

    .container-header{
        display: flex;
    }
}

@media screen and (min-width: 768px){
    header{
        background-color: #4650BD;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .icone-menu{
        display: none;
    }
    
    .container-header{
        display: flex;

    }

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}