:root{
    --fonte-titulos: 'Calistoga', cursive;
    --fonte-textos: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
}

.container-header{
    padding-left: 6%;
    padding-right: 6%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    display: flex;
}

/*********************** MAIN ********************************/
.container-main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background: linear-gradient(180deg, #304968 0%, #1bddb1 52.6%, #4650BD 100%);
}

/****************************************************************
-----------------------------------------------------------------
---------------------RESPONSIVIDADE------------------------------
-----------------------------------------------------------------
****************************************************************/
@media screen and (max-width: 767px){
    header{
        background-color: #4650BD;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .navbar{
        display: none;
    }

    .container-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    /*************************** BANNER ************************/
    .banner{
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .banner__imagem{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner__titulo{
        position: absolute;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .banner__imagem img{
        width: 100%;
        height: 270px; 
        object-fit: cover;
        object-position: 50% 50%; 
        mix-blend-mode: hue;
    }
    
    .banner__titulo p{
        font-family: var(--fonte-titulos);
        color: white;
    }
    
    /*************************** ACESSIBILIDADE*********************/
    .secao_acessibilidade{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .secao_acessibilidade img{
        width: 100%;
        height: 381px;;
        border-radius: 16px;
    }

    .secao_acessibilidade__textos{
        padding-top: 32px;
    }

    .secao_acessibilidade__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_acessibilidade__textos h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_acessibilidade__textos p{
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
    }

    /*************************** SUSTENTABILIDADE*********************/
    .secao_sustentabilidade{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .secao_sustentabilidade__order1{
        order: 2;
    }

    .secao_sustentabilidade__order2{
        order: 1;
    }
    
    .secao_sustentabilidade img{
        width: 100%;
        height: 381px;;
        border-radius: 16px;
    }

    .secao_sustentabilidade__textos{
        padding-top: 32px;
    }

    .secao_sustentabilidade__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_sustentabilidade__textos h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_sustentabilidade__textos p{
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
    }

    /*************************** ATRAÇÕES*********************/
    .secao_atracoes{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .secao_atracoes img{
        width: 100%;
        height: 381px;;
        border-radius: 16px;
    }

    .secao_atracoes__textos{
        padding-top: 32px;
    }

    .secao_atracoes__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_atracoes__textos h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_atracoes__textos p{
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
    }


    /*********************** FOOTER ********************************/
    footer{
        background-color: #4650BD;
        color: white;
        font-family: var(--fonte-textos);
        font-weight: 500;
        line-height: 40px;
        align-items: center;    
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .container-footer{
        margin-left: auto;
        margin-right: auto;
        padding-left: 6%;
        padding-right: 6%;
        max-width: 1440px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .rodape__links{
        display: flex;
        flex-direction: column;
    }

    .rodape__links p{
        font-weight: 500;
        padding-bottom: 7px;
    }

    .rodape__texto_final p{
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px){
    header{
        background-color: #4650BD;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .icone-menu{
        display: none;
    }
    
    .container-header{
        display: block;
        text-align: center;
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
    }
    
    .navbar{
        align-self: center;
        margin-left: auto;
    }
    
    nav a{
        color: white;
        text-decoration: none;
        font-family: var(--fonte-textos);
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
    }
    /************************ BANNER ***************************/
    .banner{
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .banner__imagem{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner__titulo{
        position: absolute;
        color: white;
        font-family: var(--fonte-titulos);
        font-size: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__titulo p{
        font-family: var(--fonte-titulos);
    }

    .banner__imagem img{
        width: 100%;
        height: 384px;
        object-fit: cover;
        object-position: 50% 50%; 
        mix-blend-mode: hue;
    }

    /*********************** ACESSIBILIDADE *********************/
    .secao_acessibilidade{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    
    .secao_acessibilidade img{
        width: 100%;
        height: 381px;
        border-radius: 16px;
        object-fit: cover;
        object-position: 0% 20%;
    }

    .secao_acessibilidade__textos{
        padding-top: 32px;
    }

    .secao_acessibilidade__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_acessibilidade__textos h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_acessibilidade__textos p{
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
    }

    /*********************** SUSTENTABILIDADE *********************/
    .secao_sustentabilidade{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    
    .secao_sustentabilidade img{
        width: 100%;
        height: 381px;
        border-radius: 16px;
        object-fit: cover;
        object-position: 0% 20%;
    }

    .secao_sustentabilidade__textos{
        padding-top: 32px;
    }

    .secao_sustentabilidade__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_sustentabilidade__textos h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_sustentabilidade__textos p{
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
    }

    /*********************** ATRAÇÕES *********************/
    .secao_atracoes{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    
    .secao_atracoes img{
        width: 100%;
        height: 381px;
        border-radius: 16px;
        object-fit: cover;
        object-position: 0% 20%;
    }

    .secao_atracoes__textos{
        padding-top: 32px;
    }

    .secao_atracoes__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_atracoes__textos h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_sustentabilidade__textos p{
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
    }


    /*********************** FOOTER ********************************/
    footer{
        background-color: #4650BD;
        color: white;
        font-family: var(--fonte-textos);
        font-weight: 500;
        line-height: 40px;
        align-items: center;    
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .container-footer{
        margin-left: auto;
        margin-right: auto;
        padding-left: 6%;
        padding-right: 6%;
        max-width: 1440px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .rodape__links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rodape__links p{
        font-weight: 500;
        padding-bottom: 5px;
    }

    .rodape__texto_final{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    .rodape__texto_final p{
        padding-bottom: 0;
    }

}

@media screen and (min-width: 1024px) {
    .container-header{
        display: flex;
    }

    .banner__imagem img{        
        height: 407px;
    }

    /*********************** ACESSIBILIDADE *********************/
    .secao_acessibilidade{
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        padding: 64px 121px;
        gap: 48px;
    }
    
    .secao_acessibilidade img{
        width: 609px;
        border-radius: 16px;
        object-position: 0% 20%;
    }

    .secao_acessibilidade__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_acessibilidade__textos h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_acessibilidade__textos p{
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
    }


    .container-footer{
        display: flex;
        justify-content: space-between;
    }

    .rodape__texto_final{
        text-align: left;
    }

    /*********************** SUSTENTABILIDADE *********************/
    .secao_sustentabilidade{
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        padding: 64px 121px;
        gap: 48px;
    }

    .secao_sustentabilidade__order1{
        order: 1;
    }

    .secao_sustentabilidade__order2{
        order: 2;
    }
    
    .secao_sustentabilidade img{
        width: 609px;
        border-radius: 16px;
        object-position: 0% 20%;
    }

    .secao_sustentabilidade__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_sustentabilidade__textos h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_sustentabilidade__textos p{
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
    }

    /*********************** ATRAÇÕES *********************/
    .secao_atracoes{
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        padding: 64px 121px;
        gap: 48px;
    }
    
    .secao_atracoes img{
        width: 609px;
        border-radius: 16px;
        object-position: 0% 20%;
    }

    .secao_atracoes__textos h2, p{
        color: white;
        font-family: var(--fonte-textos);
        padding-bottom: 24px;
    }
    
    .secao_atracoes__textos h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 10px;
    }
    
    .secao_atracoes__textos p{
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
    }


    .container-footer{
        display: flex;
        justify-content: space-between;
    }

    .rodape__texto_final{
        text-align: left;
    }
}